input[type=text]{
	background-color: #ADD8E6;
	font-weight: bold;
	padding: 6px 20px;

}

input[type=number]{
	background-color: #ADD8E6;
	font-weight: bold;
	padding: 6px 20px;
}

input[type=number]:focus{

border: 3px solid #555;
background-color: white;
}


input[type=adress]{
	background-color: #ADD8E6;
	font-weight: bold;
	padding: 6px 20px;
}

input[type=adress]:focus{

border: 3px solid #555;
background-color: white;
}

input[type=text]:focus{

border: 3px solid #555;
background-color: white;
}

input[type=textarea]{
	background-color: #ADD8E6;
	font-weight: bold;

}


input[type=textarea]:focus{

border: 3px solid #555;
background-color: white;
}

#italic{
	font-style: oblique;

}

input[type=button]{
	background-color: #0000A0;
	color: white;
	border: 2px solid black;
}